@font-face {
    font-family: 'MADE Soulmaze';
    src: url('fonts/MADESoulmaze.woff2') format('woff2'),
        url('fonts/MADESoulmaze.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MADE Soulmaze';
}

body {
    background: #070707;
}

.full-page {
    width: 100%;
    height: 100vh;
}

.logo {
    position: fixed;
    left: 15vh;
    top: 10vh;
}
.navbar {
    position: fixed;
    right: 15vh;
    top: 10vh;
}

.social-media {
    position: fixed;
    left: 15vh;
    bottom: 10vh;
}

.copyright {
    position: fixed;
    right: 15vh;
    bottom: 10vh;
}

.copyright p {
    color: #fff;
    font-size: 12px;
}

.copyright p span {
    color: #ef0303;
}

.navbar ul, .social-media ul {
    margin: 0;
}

.navbar ul li , .social-media ul li  {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a, .social-media ul li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.navbar ul li a:hover, .social-media ul li a:hover {
    color: #ef0303
}

.navbar a.active {
    color: #ef0303
}

.main-title h2 {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 20vh;
    text-align: center;
    color: #444;
    font-size: 120px;
    font-style: italic;
    opacity: .2;
}

.main-title h2::after {
    content: 'Selectedwork';
     color: transparent;
    -webkit-text-stroke: .2px #444444;
    left: 0;
    top: 20px;
    position: absolute;
}

.swiper-container {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-slide {
     width:38vw !important;
     height: 95vh !important;
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

}
.swiper-slide:nth-child(2n) {
	width: 95vh !important;
     height: 70vh !important;
	 margin-top:10vh;
}

.swiper-wrapper {
    transition-delay: .8s;
}


.port-img img {
   width: 100%;
   overflow: hidden;
}

.port-text {
    position: absolute;
    top: 50%;
    margin-left: 50px;
    transform: translateY(-50%);
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.port-text h4 {
    color: #fff;
    font-size: 40px;
    position: relative;
}

.port-text h4 span {
    position: absolute;
    height: 50px;
}

